<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis similique magni optio voluptatum, maiores
      veritatis inventore, reprehenderit laborum quia obcaecati animi esse sapiente eligendi delectus at nemo amet qui
      ipsum.</p>
  </div>
</div>