<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Node</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, explicabo natus. Doloribus, atque? Laudantium
    fugiat consectetur veniam ducimus unde, omnis quasi dignissimos ab voluptatem minima, illo temporibus! Eligendi,
    consectetur voluptatum!</p>
  <a href="https://google.pl" class="btn btn-primary btn-lg">Google</a>
</div>